Buku/*.pdf
Nilai
*.~*
*.aux
*.log
*.nav
*.out
*.snm
*.synctex.gz
*.toc
Slide_MIT

*.lyx#
*.lyx~
Slide/2022/00.Pengantar/00.Pengantar_Coretan.pdf
Slide/2022/01.Sinyal/01.Sinyal_Coretan.pdf
*.m4a
*.mp4
*.conf
Berita_Acara
